<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <h1>Demo</h1>
    <button mat-flat-button
            color="primary"
            [routerLink]="['/users']"
            routerLinkActive="active">
      Users
    </button>
    <span class="menu-spacer"></span>
    <div flex="100"  layout layout-align="end center">
      <button mat-raised-button
              color="warn"
              (click)="logout()">
        Logout
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
